html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.scroll {
    overflow: scroll;
    max-height: 500px;
}

.hidden {
    display: none !important;
}

.row {
    padding: 32px 0px;
    margin: 0px -8px;
    display: inline-block;
    overflow:auto;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-2 {
    max-width: 50%;
}


#videos-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.video-card {
    width: 200px;
    height: 300px;
    margin: 5px;
    border: 2px solid #ccc;
    user-select: none;
    border-radius: 7px;
    overflow: hidden;
}

.video-card:hover {
    opacity: 0.8;
    background-color: #aaa;
    cursor: pointer;
}

.video-thumbnail {
    width: inherit;
}
.video-content {
    padding: 5px;
}
.channel-title {
    color: #ccc;
    margin: 0;
}

.video-title {
    text-align: left;
    margin: 0;
}

#search-box {
    margin: 10px;
}

#search-input {
    height: 20px;
}

#search-btn {
    display: inline-block;
    padding: 3px;
    border: 2px solid #ccc;
}

#search-btn:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}
